<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.malaspina.dashclocktimezone">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name=".Extension_1"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/ext_title_1"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">

            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>

            <meta-data android:name="protocolVersion" android:value="2" />
            <meta-data android:name="worldReadable" android:value="true" />
            <meta-data android:name="description"
                android:value="@string/app_description" />
            <meta-data android:name="settingsActivity"
                android:value=".SettingsActivityLauncher1" />

        </service>

        <service android:name=".Extension_2"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/ext_title_2"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">

            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>

            <meta-data android:name="protocolVersion" android:value="2" />
            <meta-data android:name="worldReadable" android:value="true" />
            <meta-data android:name="description"
                android:value="@string/app_description" />
            <meta-data android:name="settingsActivity"
                android:value=".SettingsActivityLauncher2" />

        </service>

        <service android:name=".Extension_3"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/ext_title_3"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">

            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>

            <meta-data android:name="protocolVersion" android:value="2" />
            <meta-data android:name="worldReadable" android:value="true" />
            <meta-data android:name="description"
                android:value="@string/app_description" />
            <meta-data android:name="settingsActivity"
                android:value=".SettingsActivityLauncher3" />

        </service>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivityLauncher1"
            android:exported="true"/>
        <activity
            android:name=".SettingsActivityLauncher2"
            android:exported="true"/>
        <activity
            android:name=".SettingsActivityLauncher3"
            android:exported="true"/>

        <activity android:name=".FormatBuilder"
            android:theme="@style/AppTheme"
            android:label="@string/time_format_builder_activity_label"/>

    </application>

</manifest>
